* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/9125fbbcd197001db5be60c31e606d6b.jpg);
    background-repeat: no-repeat;
    color: antiquewhite;

}

.container {
    background: rgba(6, 90, 96, 0.54);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
    border: 1px solid rgba(6, 90, 96, 0.47);
    text-align: center;
    justify-content: center;
    padding: 3rem 6rem;
    position: absolute;
    width: 80vw;
    max-width: 35.5rem;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* font-size: 10px; */

}

.detailsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;


}



.weatherContainer {
    border: 1px dashed black;
    padding-right: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    justify-content: left;
    margin-left: 0.6rem;
    font-size: 10px;
}

div.temp {
    font-weight: 16px;
    font-size: 28px;
}

div.temp2 {
    font-weight: 16px;
    font-size: 28px;
}

nav form {
    display: grid;
    margin-left: -8rem;
    margin-top: -9rem;

}


.searchArea {
    background: rgba(6, 90, 96, 0.54);
    color: white;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.searchButton {
    background: black;
    color: white;
    border-radius: 13px;
    cursor: pointer;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.searchButton:hover {
    background: #80b918;

}